
.page {
    padding: 16px 16px 96px 16px;
}

.section-container {
    width: auto !important;
    min-height: unset !important;
    padding: 16px;
    margin: 16px;
    background: #ffffff;
    border-radius: 8px;
    margin-bottom: 24px;
    overflow-y: hidden;
}

#app {
    background-color: #b0b0b0;
}
